:root {
    --choice-color: rgb(255, 159, 10, 12%);
    --choice-name: rgb(60, 60, 67, 60%);
    --transparent-button: rgb(1,1,1, 0);
    --push-button: #FF9500;
}

.nameLogo {
    font-size: 3vh;
    margin-top: 1vh;
    font-weight: 600;
}

.choice {
    height: 5vh;
    background-color: var(--choice-color);
    border: 0;
    font-size: 2.1vh;
    font-weight: 600;
    border-radius: 10px;
}

.nameButton {
    font-weight: 600;
    height: 100%;
    color: var(--choice-name);
    padding-left: 3vw;
}

.blockDescription {
    color: var(--choice-name);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    height: 15vh;
}

textarea {
    padding: 1vh;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 2.1vh;
    outline: none;
    border: 0;
    padding-left: 2vw;
    background-color: var(--choice-color);
    color: var(--choice-name);
    font-weight: 600;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: var(--choice-name);
    font-weight: 600;
    font-size: 2.1vh;
    text-align: center;
}

.addFileButton {
    width: 100%;
    background: var(--transparent-button);
    color: var(--push-button);
    border-radius: 10px;
    padding: 0;
    text-align: center;
    height: 5vh;
    font-weight: 600;
    font-size: 2.1vh;
    border: 2px solid var(--push-button);
}

.pushButton{
    width: 100%;
    background-color: var(--push-button);
    color: #ffffff;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    height: 5vh;
    border: 0;
    font-weight: 600;
    font-size: 2.1vh;
}

.blockFile {
    height: 80vh;
    margin: 2vh;
}

.addButton {
    width: 100%;
    background-color: var(--push-button);
    color: #ffffff;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    height: 3.4vh;
    border: 0;
    font-weight: 600;
    
}

.wrapIMG {
    height: 110px;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.wrapIMG img {
    width: 100%;
}

.wrap {
    height: 110px;
    position: relative;
    width: 100%;
}

.wrap img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.blockPush {
    height: 40vh;
    margin: 2vh;
}

input {
    padding: 1vh;
    width: 100%;
    height: 5vh;
    resize: none;
    font-size: 2.1vh;
    outline: none;
    border: 0;
    padding-left: 2vw;
    background-color: var(--choice-color);
    color: var(--choice-name);
    font-weight: 600;
    border-radius: 10px;
}

input::placeholder {
    color: var(--choice-name);
    font-weight: 600;
    font-size: 2.1vh;
    text-align: center;
}