:root {
    --choice-color: rgb(255, 159, 10, 12%);
    --choise-color-dec: rgb(0, 0, 0, 12%);
    --choice-name: rgb(60, 60, 67, 60%);
    --transparent-button: rgb(1, 1, 1, 0);
    --push-button: #FF9500;
    --navbar-color: rgb(28, 28, 30, 93.33%);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-color: rgba(241, 241, 241, 1);
    font-family: Arial, sans-serif;
    background: radial-gradient(50% 189.21% at 50% 50.65%, #FF9F0A 0%, #F38A2E 48.96%, #C26A57 100%);
}

.navlogo {
    background-color: var(--navbar-color);
    padding: 0px 10px;
    border-radius: 0px 0px 2vh 2vh;
    height: 8vh;
    display: block;
}

.navlogo .text {
    color: #ffffff;
    font-size: 3vh;
    float: none;
}

.mobile {
    display: none;
}

.decstope {
    display: block;
}

.content_main {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.content_block {
    width: 50vw;
    background: #ffffff;
    border-radius: 25px 25px 25px 25px;
    position: absolute;
    overflow: hidden;
}

.content_box {
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
    display: grid;
}

.navbarContent {
    height: 6vh;
    background: var(--navbar-color);
    color: #ffffff;
    padding: 1.5vh;
}

.choice {
    height: 6vh;
    background-color: var(--choise-color-dec);
    border: 0;
    font-size: 1.8vh;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.nameButton {
    height: 100%;
    color: var(--choice-name);
    padding-left: 10px;
    position: relative;
}

.form-select-choice {
    --bs-form-select-bg-img: url(image/choiseButtonDark.svg);
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: var(--choise-color-dec); 
    border: 0; color: var(--choice-name); 
    font-size:  2vh; 
    border-radius: 10px;
}

.inner {
    position: absolute;
    top: 42%;
    margin-top: -0.625em;
}

.blockDescription {
    color: var(--choise-color-dec);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    height: 12vh;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

textarea {
    padding: 1vh;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 2vh;
    outline: none;
    border: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--choise-color-dec);
    color: var(--choice-name);
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: var(--choice-name);
    font-size: 2vh;
    text-align: center;
}

.twoButton {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 1vh;
}

.pushButton {
    width: 45%;
    background-color: var(--push-button);
    color: #ffffff;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    height: 5vh;
    display: inline-block;
    border: 0;
    font-weight: 600;
    font-size: 1.8vh;
}

.readyButton {
    width: 80%;
    background-color: var(--push-button);
    color: #ffffff;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    height: 5vh;
    display: inline-block;
    border: 0;
    font-weight: 600;
    font-size: 1.8vh;
}

.addFileButton {
    width: 45%;
    background: var(--transparent-button);
    color: var(--push-button);
    border-radius: 10px;
    padding: 0;
    text-align: center;
    height: 5vh;
    font-weight: 600;
    font-size: 1.8vh;
    border: 2px solid var(--push-button);
    display: inline-block;
    margin-right: 15px;
}

input {
    padding: 1vh;
    width: 100%;
    height: 6vh;
    resize: none;
    font-size: 2.1vh;
    outline: none;
    border: 0;
    background-color: var(--choise-color-dec);
    color: var(--choice-name);
    font-weight: 600;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

input::placeholder {
    color: var(--choice-name);
    font-weight: 600;
    font-size: 2.1vh;
    text-align: center;
}

.blockFile {
    width: 50vw;
    max-width: 1140px;
    background: #ffffff;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
    margin: 0 auto;
}

.addButton {
    display: flex;
    width: 100%;
    background-color: var(--navbar-color);
    color: #ffffff;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 4vh;
    border: 0;
    font-weight: 600;
    margin-top: 1vh;
}

.maxButton {
    width: 30%;
}

.content-list {
    margin-top: 10px;
}

.listFile {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    border: 2px solid var(--navbar-color);
    text-align: center;
}

.addFileBlock {
    margin: 10px;
    border-radius: 10px;
    background-color: var(--choise-color-dec);
    width: 95%;
    height: 110px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.wrapIMG {
    height: 110px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wrapIMG img {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.nameFile {
    height: 110px;
    display: flex;
    align-items: center;
}

.textFile {
    font-size: 1.9vh;
    font-weight: 600;
}

.wrap {
    height: 110px;
    position: relative;
    width: 100%;
}

.wrap img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.indentation {
    width: 5%;
}

.content-file {
    width: 90%;
}

.outer {
    text-align: center;
    height: 100%;
  }

.outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

.clueFile {
    display: inline-block;
    vertical-align: middle;
  }

.scroll-body {
    overflow-x: auto;
}

.scroll-body::-webkit-scrollbar {
    width: 0px;
}

.scroll-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1050px) {

    body {
        background-color: rgba(241, 241, 241, 1);
        font-family: Arial, sans-serif;
        background: #ffffff;
    }

    .navlogo {
        display: none;
    }

    .mobile {
        display: block;
    }

    .decstope {
        display: none;
    }

    .nameLogo {
        font-size: 3vh;
        margin-top: 1vh;
        font-weight: 600;
        padding: 0;
    }

    .content_main {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .form-select-choice {
    --bs-form-select-bg-img: url(image/choiseButton.svg);
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: var(--choice-color); 
    border: 0; color: var(--choice-name); 
    font-size: 2.1vh; 
    font-weight: 600; 
    border-radius: 10px;
}

    .content_block {
        width: 100%;
        background: #ffffff;
        border-radius: 0;
        position: fixed;
        overflow: hidden;
    }

    .content_box {
        margin-bottom: none;
        margin-top: none;
        margin-left: none;
        margin-right: none;
        align-items: center;
        display: grid;
    }

    .choice {
        height: 6vh;
        background-color: var(--choice-color);
        border: 0;
        font-size: 2.1vh;
        font-weight: 600;
        border-radius: 10px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    }

    .nameButton {
        font-weight: 600;
        height: 100%;
        color: var(--choice-name);
        padding-left: 3vw;
        position: relative;
    }

    .inner {
        position: absolute;
        top: 42%;
        margin-top: -0.625em;
    }

    .blockDescription {
        color: var(--choice-name);
        border-radius: 10px;
        width: 100%;
        overflow: hidden;
        height: 15vh;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    }

    textarea {
        padding: 1vh;
        width: 100%;
        height: 100%;
        resize: none;
        font-size: 2.1vh;
        outline: none;
        border: 0;
        padding-left: 2vw;
        background-color: var(--choice-color);
        color: var(--choice-name);
        font-weight: 600;
    }

    textarea:focus {
        outline: none;
    }

    textarea::placeholder {
        color: var(--choice-name);
        font-weight: 600;
        font-size: 2.1vh;
        text-align: center;
    }

    .addFileButton {
        width: 100%;
        background: var(--transparent-button);
        color: var(--push-button);
        border-radius: 10px;
        padding: 0;
        text-align: center;
        height: 6vh;
        font-weight: 600;
        font-size: 2.1vh;
        border: 2px solid var(--push-button);
        margin-left: 0%;
    }

    .twoButton {
        margin-top: 0;
    }

    .pushButton {
        width: 100%;
        background-color: var(--push-button);
        color: #ffffff;
        border-radius: 10px;
        padding: 0;
        text-align: center;
        height: 6vh;
        border: 0;
        font-weight: 600;
        font-size: 2.1vh;
        margin-left: 0%;
    }

    .readyButton {
        width: 100%;
    }


    .blockFile {
        width: 100%;
        height: 80vh;
        margin: 0;
        background-color: #FFF3E1;
    }

    .listFile {
        width: 100%;
        height: 70vh;
        border-radius: 0;
        border: 0;
    }

    .addButton {
        width: 100%;
        background-color: var(--push-button);
        color: #ffffff;
        border-radius: 20px;
        padding: 0;
        text-align: center;
        height: 3.4vh;
        border: 0;
        font-weight: 600;
    }

    .wrapIMG {
        height: 110px;
        border-radius: 10px;
        width: 100%;
        overflow: hidden;
    }

    .wrapIMG img {
        width: 100%;
    }

    .wrap {
        height: 110px;
        position: relative;
        width: 100%;
    }

    .wrap img {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    .blockPush {
        height: 44vh;
        margin: 2vh;
    }

    input {
        padding: 1vh;
        width: 100%;
        height: 6vh;
        resize: none;
        font-size: 2.1vh;
        outline: none;
        border: 0;
        padding-left: 2vw;
        background-color: var(--choice-color);
        color: var(--choice-name);
        font-weight: 600;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    input::placeholder {
        color: var(--choice-name);
        font-weight: 600;
        font-size: 2.1vh;
        text-align: center;
    }
}